*{
    margin: 0;
    padding: 0;
}

.texto1{
    margin: 20px;
    font-family: 'Bebas Neue';
    display: flex;
    justify-content: center;
}

.caixa{
    margin: 20px;
    margin-top: 40px;
    color: #000000ef;
    font-family: 'Bebas Neue';
    display: flex;
    justify-content: center;
}

.td1 input, .td2 input, .td3 input{
    width: 500px;
    height: 20px;
}

.td4 textarea{
    width: 605px;
    height: 80px;
    font: formal 14px verdana;
}

.td5 input{
    width: 80px;
    height: 30px;
    font-family: 'Bebas Neue';
}