*{
    margin: 0;
    padding: 0;
}

.footer{
    overflow: hidden;
    background-color: #141414;
}

.lgfooter{
    display: flex;
    justify-content: center;
}

.lgfooter img{
    height: 90px;
    width: 90px;
}

.boxfooter{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    align-items: center;
}

.icft a{
    width: 64px;
    height: 64px;
}

.icft{
    width: 64px;
    height: 64px;
    margin-top: 15px;
}
