body{
    margin: 0px;
    padding: 0px;
}

.header{
    overflow: hidden;
    background-color: #000000;
}

.btnhome{
    float: left;  
    color: #b7b7b7;
    text-align: center;
    text-decoration: none;
}

.logo{
    float: left;
    text-align: center;
    margin: 10px;  
    height: 67px;
    width: 67px;
}