*{
    margin: 0;
    padding: 0;
}

.logosite{
    height: 520px;
    width: 1864px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 24%, rgba(64,0,129,1) 68%, rgba(74,11,79,1) 100%);
}

.bakcimg{
    margin: 0;
    padding: 0;
}

.textbox{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue';
    margin-top: 30px;
}

.box{
    display: flex;
    justify-content: center;
}

.box img{
    width: 400px;
    height: 240px;
    border-radius: 10px;
    border-bottom: 1px solid black;
}

.box img:hover{
    width: 420px;
    height: 280px;
    transform: scale(1);
}

.box1, .box2, .box3{
    margin: 30px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 10px;
}

.info1, .info2, .info3{
    margin: 30px;
    font-family: 'Bebas Neue';
}

.info1 h4, .info2 h4, .info3 h4{
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
    margin-left: 110px;
    font-family: 'Bebas Neue';
    margin-top: 20px;
  }
  
  .bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }
  
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .bn30:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .bn30:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }